*train_dir*
*wandb*
*ige_logs*
*.egg-info
/.vs
/.vscode
/_package
/shaders
._tmptext.txt
__pycache__/
*.pyc
_doxygen
*.pxd2
logs*
nn/
runs/
.idea
outputs/
*.hydra*
/isaacgym/python/isaacgym/_bindings/*
/isaacgym/docs/*
/isaacgym/licenses/*
/IsaacGymEnvs/docs/*
/IsaacGymEnvs/.gitlab/*

